#results-div table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

#results-div table tbody {
  width: 100%;
  overflow: auto;
  /*   height:   400px; /* table height, inc. all rows */
}

#results-div table thead {
  background: rgb(191, 191, 191);
  font-size: 1.2em;
}

#results-div table th {
  padding: 0 5px;
  text-align: center;
  /*   font-family: monospace;*/
  white-space: nowrap;
  border: 1px solid rgb(153, 153, 153);
}

#results-div table td {
  padding: 0 5px;
  text-align: center;
  /*   font-family: monospace;*/
  white-space: nowrap;
  border: 1px solid rgb(153, 153, 153);
}

#results-div table td:last-child {
  width: 100%;
}

body {
  font-family: "Gill Sans", sans-serif;
  background-color: aliceblue;
  color: black;
}

#content {
  margin: 30px auto 30px auto;
}

#footer {
  font-size: 0.8em;
}

.test-passed {
  background-color: rgba(59, 238, 83, 0.527);
}

.test-passed_on_rerun {
  background-color: rgba(1, 226, 121, 0.527);
}

.test-failed {
  background-color: rgba(228, 104, 104, 0.5);
}

.test-unknown {
  background-color: rgba(129, 129, 129, 0.5);
}

.test-not_run {
  background-color: rgba(243, 222, 104, 0.5);
}

.test-known_issue {
  background-color: rgba(170, 51, 194, 0.5);
}

.test-intermittent {
  background-color: rgba(63, 122, 211, 0.5);
}
