{{ template "_header.html" . }}

<link rel="stylesheet" type="text/css" href="/css/admin.css" />
<script src="/js/admin.js"></script>

<p>The date today is {{.Date}}</p>
<p>And the time is {{.Time}}</p>
<p></p>
<div id="admintable">
  <div id="admintable-results">
    <div id="resultcountdiv" class="fixed">
      <span> <span>Result count :</span><span id="resultcount"></span> </span>
    </div>
    <br />
    <button class="adminbutton" onclick="getResultCount()">
      Get total result count
    </button>
    <button class="adminbutton" onclick="deleteAllResults()">Delete all results</button>

    <button class="adminbutton" onclick="getAllTestRuns()">Get all test runs</button>
    <div id="test-run-div">
      <span><span>All known test runs :</span></span>
      <ul id="test-run-list"></ul>
    </div>
  </div>
  <!-- <br /> -->
  <!-- <br /> -->

  <div id="admintable-tests">
    <div id="testcountdiv" class="flex-item">
      <span><span>Test count :</span><span id="testcount"></span></span>
    </div>

    <button class="adminbutton" onclick="getTestCount()">
      Get total test count
    </button>
    <button class="adminbutton" onclick="deleteAllTests()">Delete all tests</button>
  </div>
  <!-- <br />
  <br /> -->
  <div id="admintable-suites">
    <div id="suitecountdiv" class="flex-item">
      <span><span>Suite count :</span><span id="suitecount"></span></span>
    </div>
    <button class="adminbutton" onclick="getSuiteCount()">
      Get total suite count
    </button>
    <button class="adminbutton" onclick="deleteAllSuites()">Delete all suites</button>
  </div>
</div>
{{ template "_footer.html" . }}
