{{ template "_header.html" . }}

<link rel="stylesheet" type="text/css" href="/css/data.css" />
<script src="/js/data.js"></script>

<p>The date today is {{.Date}}</p>
<p>And the time is {{.Time}}</p>
<p></p>
<div id="results-div">
  <div id="latest-testrun">Viewing results for test run <span>{{.LatestTestRun}}</span></div>
  <br />
  TODO add links for previous test runs
  <br />
  TODO add link to all results (most recent X (e.g. 100)) regardless of test run
  <div id="latest-test"><span>Waiting for new test result...</span></div>
  <br />
  <table id="results-table">
    <thead>
      <tr id="results-table-header">
        <th id="categories">Categories</th>
        <th id="dir">Dir</th>
        <th id="testname">Name</th>
        <th id="testrun">Test Run</th>
        <th id="status">Status</th>
        <th id="priority">Priority</th>
        <th id="start">Start</th>
        <th id="end">End</th>
        <th id="ranby">Ran By</th>
        <th id="message">Message</th>
        <th id="tedstatus">TED Status</th>
        <th id="tednotes">TED Notes</th>
      </tr>
    </thead>
    <tbody id="results-table-body"></tbody>
  </table>
</div>

{{ template "_footer.html" . }}
