{{ template "_header.html" . }}

<link rel="stylesheet" type="text/css" href="/css/data.css" />
<script src="/js/data.js"></script>

<p></p>
<div id="results-div">
  <div id="latest-testrun">Viewing results for test run <span>{{.LatestTestRun}}</span></div>
  <br />
  <br />
  <span id="pausestatus" style="font-weight: bold;"></span>
  <button class="pausebutton" style="margin-left: 50px;" onclick="pauseTestrun()">Pause testrun</button>
  <button class="unpausebutton" style="margin-left: 50px;" onclick="unpauseTestrun()">Resume testrun</button>
  <br />
  <br />
  <div id="latest-test"><span>Waiting for new test result...</span></div>
  <br />
  <table id="results-table">
    <thead>
      <tr id="results-table-header">
        <th id="header-categories">Categories</th>
        <th id="header-dir">Dir</th>
        <th id="header-testname">Name</th>
        <th id="header-tedstatus">TED Status</th>
        <th id="header-tednotes">TED Notes</th>
        <th id="header-known-issue">Known Issue?</th>
        <!-- <th id="header-testrun">Test Run</th> -->
        <th id="header-status">Status</th>
        <th id="header-priority">Priority</th>
        <th id="header-start">Start</th>
        <th id="header-end">End</th>
        <th id="header-ranby">Ran By</th>
        <th id="header-message">Message</th>
      </tr>
    </thead>
    <tbody id="results-table-body"></tbody>
  </table>
</div>

{{ template "_footer.html" . }}
