{{ template "_header.html" . }}

<link rel="stylesheet" type="text/css" href="/css/data.css" />
<script src="/js/data.js"></script>

<p>The date today is {{.Date}}</p>
<p>And the time is {{.Time}}</p>
<p></p>
<div id="results-div">
  <div id="latest-testrun">Viewing results for test run <span>{{.LatestTestRun}}</span></div>
  <br />
  TODO add links for previous test runs
  <br />
  TODO add link to all results (most recent X (e.g. 100)) regardless of test run
  <br />
  TODO remove TED Status column - colour-code TED Notes
  <br />
  TODO auto-scroll page down when received new result
  <br />
  <br />
  TODO on page-load, get pause-status
  <br />
  <br />
  <span id="pausestatus" style="font-weight: bold;"></span>
  <button class="pausebutton" style="margin-left: 50px;" onclick="pauseTestrun()">Pause testrun</button>
  <button class="unpausebutton" style="margin-left: 50px;" onclick="unpauseTestrun()">Resume testrun</button>
  <br />
  <br />
  <div id="latest-test"><span>Waiting for new test result...</span></div>
  <br />
  <table id="results-table">
    <thead>
      <tr id="results-table-header">
        <th id="header-categories">Categories</th>
        <th id="header-dir">Dir</th>
        <th id="header-testname">Name</th>
        <th id="header-testrun">Test Run</th>
        <th id="header-status">Status</th>
        <th id="header-priority">Priority</th>
        <th id="header-start">Start</th>
        <th id="header-end">End</th>
        <th id="header-ranby">Ran By</th>
        <th id="header-message">Message</th>
        <th id="header-tedstatus">TED Status</th>
        <th id="header-tednotes">TED Notes</th>
        <th id="header-known-issue">Known Issue?</th>
      </tr>
    </thead>
    <tbody id="results-table-body"></tbody>
  </table>
</div>

{{ template "_footer.html" . }}
